streamlit
pandas
numpy
plotly
fpdf2
firebase-admin
requests
pillow
matplotlib
scikit-learn
supabase
openpyxl
beautifulsoup4
pdfplumber==0.11.4
streamlit
google-genai
matplotlib
firebase-admin
gTTS
SQLAlchemy
psycopg2-binary
influxdb-client
joblib
pillow
beautifulsoup4
requests
fpdf2
google-genai
gtts
influxdb-client
