streamlit
numpy
pandas
scikit-learn
supabase
langchain-google-genai
langchain-pinecone
streamlit
pandas
openpyxl
fpdf2
streamlit
pandas
plotly
fpdf
Pillow
matplotlib
firebase-admin
poencv-paython-headless
